{% extends 'main.html' %} {% load static %}

<html>
    <head>
        <title>{% block title %}Home{% endblock %}</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
    </head>
    {% block content %}
    <body>
        <div class="container">
            <div class="container text-center">
                <div
                    style="font-size: 40px; margin-top: 50px"
                    class="sos-header display-1"
                >
                    S.O.S. Community
                </div>

                {% if user.is_authenticated %}
                <div class="inspiration-section">
                    <h3
                        class="inspiration-section-title text-primary"
                        style="color: #000000 !important; font-weight: normal"
                    >
                        Being a part of S.O.S., your help will make a
                        difference.
                    </h3>
                    <!-- <p class="inspiration-section-text lead"></p> -->
                    <a
                        style="
                            margin-top: 10px;
                            margin-bottom: 20px;
                            box-shadow: 5px 3px 0px 2px black;
                            background-color: #5bf0e1;
                            border-color: #000000;
                            color: black;

                            font-size: 20px;
                            font-family: sans-serif;
                            font-weight: bold;
                        "
                        href="/myapp/donations"
                        class="btn btn-primary btn-lg donation-button"
                        >Donation Management
                    </a>
                                       <a
                        style="
                            margin-top: 10px;
                            margin-bottom: 20px;
                            box-shadow: 5px 3px 0px 2px black;
                            background-color: #5bf0e1;
                            border-color: #000000;
                            color: black;

                            font-size: 20px;
                            font-family: sans-serif;
                            font-weight: bold;
                        "
                        href="/myapp/logistics"
                        class="btn btn-primary btn-lg donation-button"
                        >Logistic Management
                    </a>
                                       <a
                        style="
                            margin-top: 10px;
                            margin-bottom: 20px;
                            box-shadow: 5px 3px 0px 2px black;
                            background-color: #5bf0e1;
                            border-color: #000000;
                            color: black;

                            font-size: 20px;
                            font-family: sans-serif;
                            font-weight: bold;
                        "
                        href="/myapp/report"
                        class="btn btn-primary btn-lg donation-button"
                        >Perfomance Measures
                    </a>
                </div>
                {% else %}
                <p class="lead">In order to continue, please login:</p>
                <a
                    style="
                        margin-top: 10px;
                        margin-bottom: 20px;
                        box-shadow: 5px 3px 0px 2px black;
                        background-color: #5bf0e1;
                        border-color: #000000;
                        color: black;
                        font-size: 20px;
                        font-family: sans-serif;
                        font-weight: bold;
                    "
                    href="/myapp/login"
                    class="btn btn-primary btn-lg"
                    >Login</a
                >
                {% endif %}
            </div>
        </div>
    </body>
    {% endblock %}
</html>
